git+https://github.com/lebrice/SimpleParsing
git+https://github.com/iamgroot42/cleverhans
git+https://github.com/iamgroot42/opacus
git+https://github.com/iamgroot42/robustness
git+https://github.com/iamgroot42/facenet-pytorch
torch==2.0.0
numpy<2.0.0
torchvision==0.15.1
torchdata==0.6.0
torchaudio
scikit-learn
scipy
tqdm
ogb
pandas
colorama
seaborn
jsonargparse
fairlearn
dgl
pydantic
xlsx2csv